.book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book {
  width: 200px;
  height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.book-cover {
  width: 90%;
  height: 100px;
  filter: drop-shadow(10px 10px 10px rgb(165, 164, 164));
}

.book h3 {
  align-self: center;
}

.navigation {
  display: flex;
  gap: 50px;
  list-style: none;
}
